.add-post{
   
    .card {
        border: none;
        color: #4f5f6f;
        label{
            font-size: 1.05rem;
        }
        .image-container{
            border: 1px #85CE36 solid;
            color: #85CE36;
        }
        .form-control:focus{
            border-color: #85CE36;
            box-shadow: 0 0 0 0.2rem rgba(51, 255, 0, 0.25);
        }
    }
   #modal-media{
       .modal-header{
           background: #85CE36;
       }
       .btn-secondary{
           background: #fff;
           border-color: #d7dde4;
       }
   }
}