.contact{
    p{
        margin-top: 2rem;
    }
    ul{
        list-style-type: none;
        
        li{
            a{
                color: #a1a1a1;
                &:hover{
                    color: $color-yelow;
                }
            }
            
        }
       
    }
    a{
        color : white;
    }
    .sub-page {
        li{
            margin-bottom: 5px;
        }
        .btn{
            color: white;
            background-color: #42719f;
            width: 100%;
            text-align: left;
            
            &:hover{
                background-color: white;
                color: $color-blue;
            }
        }

    }
}