.forgotpassword {
  background-image: url("../../../assets/imgage/banner3.jpg");

  .container {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    border-bottom: 30px;
}
  .button {
    margin-bottom: 15px;
  }
  .forgotpass {
      background: oldlace;
      border-radius: 10px;
      box-shadow: 5px 5px 10px 2px rosybrown;
      padding: 30px;
    h2 {
      color: slategrey;
      font-weight: inherit;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 35px;
      font-size: 24px;
    }
    p {
      color: dimgray;
      margin-bottom: 300px;
      font-size: 20px;
      font-weight: bold;
    }
    a {
      font-size: 23px;
      font-weight: bold;
      color: lightcoral;
    }
  }
  .imglogo {
    width: 100%;
    height: 100%;
    display: block;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
