//=========sidebar================
.sidebar {
  .title {
    background-color: $color-orange;
    border-bottom: 10px solid #dad4c2;
    .para-first {
      color: #aa914d;
    }
  }
  .description{
    background-color: $color-orange;
  }
}

//==========content============
.content {
  .article_1 {
    background-color: $color-orange;
    p{
      font-size: 1rem;
    }
    a {
      color: #000;
      font-size: 1rem;
      i {
        color: $color-blue;
      }
    }
  }

  //==========media==============
  .media {
    border-top: 1px solid #d7d7d7;
    img {
      width: 100%;
    }
    .media-body{
      h5{
        a{
          text-decoration: none;
          color: $color-blue;
        }
      }
      ul{
        li{
          a{
            text-decoration: none;
            color: #000;
            &:hover{
              color: $color-yelow;
            }
          }
          i{
            font-size: 10px;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
