//===== top-header ==============
.hottline {
  font-size: 13px;
  p {
    color: #fdb913;
  }
  a {
    color: #fdb913;
    font-size: 13px;
  }
  li {
    list-style-type: none;
  }
}

.top-header {
  background-color: #024282; 
  .navbar .navbar-nav .nav-link {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

@include media-breakpoint-down(md) {
  .top-header {
    .container {
      max-width: 100%;
    }
    .navbar {
      position: static;

      .navbar-collapse {
        position: absolute;
        background: $color-blue;
        left: 0;
        top: 40px;
        width: 100%;
        z-index: 99;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.hottline {
  ul {
    height: 22px;
    overflow: hidden;

    margin: 0;
    padding: 0;

    li {
      transition: 1s;
    }

    &.active {
      li {
        transform: translateY(-22px);
      }
    }
  }
}

//==========search==============
.top-header {
  position: relative;
  z-index: 99;

  .search {
    input {
      background-color: rgba(0, 0, 0, 0.2);
      padding-right: 40px;
      color: #fff;
    }

    button {
      position: absolute;
      right: 0;
    }

    i {
      color: #fff;
    }
  }
}
//============main-menu=====================
.menu-main {
  z-index: 3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  @media (min-width: 769px) {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    &:after,
    &:before {
      content: "";
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid;
      position: absolute;
      left: 50%;
      margin-left: -50px;
      bottom: -48px;
      z-index: 99;
    }

    &:before {
      border-top-color: rgba(0, 0, 0, 0.15);
      margin-bottom: -2px;
    }

    &:after {
      border-top-color: #fff;
    }
  }
  @media (min-width: 769px) {
    .btn {
      left: 48%;
      z-index: 100;
      i {
        font-size: 1.75rem;
        color: $color-blue;
        z-index: 100;
      }
    }
  }
  @media (max-width: 769px) {
    .btn,
    i {
      display: none;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.1rem;
    &:hover {
      color: $color-yelow;
    }
    i {
      font-size: 1.4rem;
      color: #35699b;
    }
  }
}


  .menu {
    display: none;
    background-color: rgba(2, 66, 130, 0.9);
    opacity: 1;
    z-index: 2;
    margin-left: 5rem;
    margin-right: 5rem;
    position: absolute;
    width: 88%;
    @media (max-width: 769px) {
      display: none;
    }
    .sub-menu {
      padding-top: 3rem;
      a {
        &:hover {
          color: $color-yelow;
        }
      }
      p {
        a {
          color: #fff;
        }

        font-size: 1.125rem;
      }
      li {
        list-style-type: none;
        a {
          color: #d2d2d2;
        }
      }
    }
  }

