body {
  font-size: 13px;
  line-height: 1.7;
}
// ======= carousel  =====================
.owl-carousel-1 {
  .item {
    position: relative;
    img {
      height: 26.25rem;
    }
    .caption {
      width: 100%;
      height: 8.125rem;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.45);
      bottom: -8px;
      padding: 1.875rem 8.125rem 1.875rem 1.875rem;
    }
  }
  .owl-nav {
    font-size: 3rem;
    color: #fff;
    opacity: 0.5;
    position: absolute;
    bottom: 0px;
    display: flex;
    right: 0px;
    width: 20%;
    height: 8.125rem;
    align-items: center;
    justify-content: center;
    * {
      width: 10%;
    }
  }
}

.title-carousel {
  color: $color-yelow;
}
.link-list-article a {
  color: $color-blue;
}

// =================================

// gạch dưới
@mixin underline-title {
  h2::before {
    content: "";
    background-color: $color-yelow;
    width: 2.5rem;
    height: 2px;
    position: absolute;
    bottom: -0.5rem;
  }
}

.section-article {
  @include underline-title;
  .article {
    .title-article a {
      color: #000;
      line-height: 1.5;
      height: 4rem;
      overflow: hidden;
      font-size: 1.125rem;
    }
    .content {
      overflow: hidden;
      height: 7rem;
      font-size: 0.85rem;
      line-height: 1.7;
    }
  }
  .media-video .list-video {
    ul {
      list-style-type: none;
    }
    li {
      line-height: 1.7;
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
      }
      i {
        font-size: 10px;
      }
    }
  }
}

//========section-reason ============
.section-reason {
  position: relative;
  h2::before {
    content: "";
    background-color: $color-yelow;
    width: 2.5rem;
    height: 2px;
    position: absolute;
    bottom: 13.5rem;
    left: 50%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}
.owl-carousel-2 {
  .owl-nav {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 30%;
    position: absolute;
    right: 1rem;
    left: 0.5rem;
  }
}
//==========co-opperate ==========

.section-co-operate {
  @include underline-title;
  .article {
    .title-article a {
      color: #000;
      line-height: 1.5;
      height: 4rem;
      overflow: hidden;
      font-size: 1.125rem;
    }
    .content {
      overflow: hidden;
      height: 7rem;
      font-size: 0.85rem;
      line-height: 1.7;
    }
  }
}

//==========list event ==========
.list-event {
  .date {
    height: 6.25rem;
  }
  .content {
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #000;
    }
    ul {
      font-size: 13px;
      
      .time {
        color: $color-yelow;
      }
    }
    ul:after {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 5rem;
      }

    .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      padding-right: 0.5rem;
      color: #6c757d;
      content: "|";
    }
  }

  span b {
    font-size: 36px;
  }
}
