.menu-admin {
  @function rem($value) {
    @return unquote(($value/1px)/16+"rem");
  }
  $easeTime: 0.25s;
  $margin-top: 56px;
}
//=============== sideMenu==========
.menu-admin {
  background-color: #3a4651;

  .nav-item {
    padding-left: 1.25rem;
    .icon {
      font-size: rem(30px);
      color: #6c757d;
      display: inline-flex;
    }
    a {
      font-size: rem(15px);
      color: #6c757d;
    }
    &:hover {
      background-color: rgba(0,0,0,0.4);
      a {
        color: #fff;
      }
      .icon {
        color: #fff;
      }
  
    }
    
  }
  .active{
    background-color: #85ce36;
    a {
      color: #fff;
    }
    .icon {
      color: #fff;
    }
  }
}


//nav-header
.navbar-admin {
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  .brand{
    .logo{
      display: inline-block;
    width: 45px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    .l{
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #85CE36;
      position: absolute;
    }
    .l1{
      bottom: 0;
    left: 0;
    }
    .l2{
      width: 7px;
    height: 7px;
    bottom: 13px;
    left: 10px;
    }
    .l3{
      width: 7px;
    height: 7px;
    bottom: 4px;
    left: 17px;
    }
    .l4{
      bottom: 13px;
      left: 25px;
    }
    .l5{
      bottom: 0;
    left: 34px;
    }
    }
  }
 
}

.admin{
  .content{
    background: #f0f3f6;
  }
}