.registerAdmin {
  background-image: url("../../../assets/imgage/banner3.jpg");
 
 .button
 {
    margin-bottom: 130px;
 }
  .register {
    h2 {
      color: $color-blue;
      font-weight: bolder;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 25px;
      font-size: 30px;
    }
  }
  .imglogo {
    width: 100%;
    height: 100%;
    display: block;
   img{
       width: 100px;
   }
  }
}