$primary:      blue!default;
$theme-colors: () !default;
//$font-family-base: 'Open Sans',sans-serif;


 $font-family-sans-serif:      'Open Sans',sans-serif !default;

// $color-yellow: #FEC030;
// $color-input: #3B3B3E;

$color-blue :#024282;
$color-yelow: #aa914d;
$color-orange: #efece8;
