<section>
  <div class="container d-block">
    <div class="row">
      <div class="col-9">
        <h2>Tin tức</h2>
        <div class="row">
          <article class="col mt-0 article">
            <a href=""> <img src="../../assets/imgage/article-home-1.jpg" alt="" class="thumbnail img-fluid w-100"></a>
            <a href="" class="mb-1 mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, vel
              culpa</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam blanditiis nesciunt consequatur harum
              soluta
              officia aut, minus debitis necessitatibus ducimus quos perferendis deleniti odio! Earum sequi ea soluta
              repudiandae facilis.</p>

          </article>
          <article class="col mt-0 article">
            <a href=""> <img src="../../assets/imgage/article-home-1.jpg" alt="" class="thumbnail img-fluid w-100"></a>
            <a href="" class="mb-1 mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, vel
              culpa</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam blanditiis nesciunt consequatur harum
              soluta
              officia aut, minus debitis necessitatibus ducimus quos perferendis deleniti odio! Earum sequi ea soluta
              repudiandae facilis.</p>

          </article>
          <article class="col mt-0 article">
            <a href=""> <img src="../../assets/imgage/article-home-1.jpg" alt="" class="thumbnail img-fluid w-100"></a>
            <a href="" class="mb-1 mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, vel
              culpa</a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam blanditiis nesciunt consequatur harum
              soluta
              officia aut, minus debitis necessitatibus ducimus quos perferendis deleniti odio! Earum sequi ea soluta
              repudiandae facilis.</p>

          </article>


        </div>

      </div>


      <div class="col-3">
        <h2>Media</h2>

        <a href=""> <img src="https://via.placeholder.com/150" alt="" class="thumbnail"></a>
        <a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, vel culpa</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam blanditiis nesciunt consequatur harum soluta
          officia aut, minus debitis necessitatibus ducimus quos perferendis deleniti odio! Earum sequi ea soluta
          repudiandae facilis.</p>

      </div>

    </div>

    <div class="slider color-blue">
      <h3 class="title-carousel text-uppercase text-center">Tại sao chọn đại học nguyễn tất thành</h3>
      <div class="carousel slide">

      </div>

    </div>

    <!-- nut xem them -->
    <div class="link-list-article">

      <a href="#" class="font-weight-bold "> <i class="fa fa-chevron-circle-right px-2"></i>Xem thêm</a>

    </div>
    <!-- event -->
    <div class="row">
      <div class="col-4">
        <div class="list-event d-flex  ">
          <div class="date color-blue text-white mr-3 w-100 d-flex align-items-center justify-content-center" >
            <span class="text-center">
                Sep<br><b>14</b>

            </span>
          
          </div>
          <div class="content">
            <a href="#">Lễ ký kết hợp tác với Tạp chí Dân chủ & Pháp luật</a>
            <i class="fal fa-clock"></i>8:00
            <p class="text-black-50">Phòng họp 1 - Cơ sở An Phú Đông </p>
          </div>


        </div>

      </div>
    </div>
  </div>




</section>