<footer>
    <div class="contact color-blue mt-4">
        <div class="container">
            <div class="row">
            <div class="col-lg-3 col-sm-6">
                <p><a href="#"><b>ĐH NGUYỄN TẤT THÀNH</b></a></p>
                <ul class="fsub pl-0">
                    <li><a href="#">Thư ngỏ</a></li>
                    <li><a href="#">Tầm nhìn - Sứ mạng</a></li>
                    <li><a href="#">Văn hóa ĐH
                            Nguyễn Tất Thành</a></li>
                    <li><a href="#">Thông tin 3 công khai</a></li>
                    <li><a href="#">Đảm bảo chất lượng</a></li>
                    <li><a href="#">Phát triển bền vững</a></li>
                    <li><a href="#">Trường Trung cấp Nguyễn Tất Thành</a></li>
                    <li><a href="#">Trường Tiểu học Anh Việt Mỹ</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-6">
                <p><a
                        href="#h"><b>PHÒNG
                            - BAN</b></a></p>

                <p><a href="#"><b>THƯ VIỆN ẢNH</b></a></p>
                <p><a href="#"><b>E-LEARNING</b></a></p>

            </div>

            <div class="col-lg-3 col-sm-6">
                <p><a href="#"><b>TRUNG TÂM - VIỆN</b></a></p>
                <ul class="fsub pl-0">
                    <li><a href="#">Viện Đào Tạo Quốc Tế</a></li>
                    <li><a href="#">Viện Công Nghệ Cao</a></li>
                    <li><a href="#">Viện Đào tạo Sau đại học</a></li>
                    <li><a href="#">Trung tâm Thông tin Thư viện</a></li>
                    <li><a href="#">TT Ngoại Ngữ</a></li>
                    <li><a href="#">TT Tin Học NTT</a></li>
                    <li><a href="#">TT QH Doanh Nghiệp &amp; Khởi nghiệp</a></li>
                    <li><a href="#">TT Đào tạo theo nhu cầu XH</a></li>
                    <li><a href="#">TT Xuất khẩu lao động Texgamex</a></li>
                    <li><a href="#">Công đoàn Trường ĐH Nguyễn Tất Thành</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <ul class="sub-page m-4">
                    <li><a href="http://facbook.com/daihocnguyentatthanh" class="btn"><i
                                class="fa fa-facebook-official"></i>Facebook</a></li>
                    <li><a href="https://plus.google.com/112750194814925795608" class="btn"><i
                                class="fa fa-google-plus"></i>Google Plus</a></li>
                    <li><a href="http://youtube.com/daihocntt" class="btn"><i class="fa fa-youtube-play"></i>Youtube</a>
                    </li>
                    <li><a href="#" class="btn"><i class="fa fa-envelope"></i>E-mail</a></li>
                    <li><a href="#" class="btn"><i class="fa fa-wechat"></i>Zalo</a>
                    </li>
                    <li><a href="#" class="btn"><i class="fa fa-mortar-board"></i>E-office</a></li>
                    <li><a href="#" class="btn"><i class="fa fa-users"></i>Tuyển dụng</a></li>
                </ul>
            </div>
        </div>
    </div>
        </div> <!-- /row -->
        <div class="copyright">
            <div class="container">
                <div class="row pb-2">
                    <div class="col-md-7">
                        <p class="pb-0 pt-3">
                            <b>THÔNG TIN LIÊN HỆ </b><br>
                            Trụ sở chính: <b>300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam</b>
                            <br>
                            Điện thoại: <b> 1900 2039 </b> Fax: <b>028 39 404 759</b><br>
                            Hotline: <b>0902 298 300 – 0906 298 300 – 0912 298 300 – 0914 298 300</b><br>
                            Email: <b>tttvtsinh@ntt.edu.vn – bangiamhieu@ntt.edu.vn </b>

                        </p>

                    </div>
                    <div class="col-md-5">
                        <p class="pb-0 pt-3">©2017. Bản quyền thuộc về trường <b>Đại học Nguyễn Tất Thành</b></p>
                    </div>
                </div>
            </div>
                    <!-- /container --></div>
           
        </div>
        <!-- /container -->
    </div>
    </div>
</section>