<!-- Required meta tags -->
<!-- <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--libs-->
<link rel="stylesheet" href="../node_modules/owl.carousel2/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
<!-- Theme CSS -->
<link rel="stylesheet" href="assets/css/theme.css">

<!-- endbuild -->

<title>Nguyen Tat Thanh University</title>
