<div class="header">
  <div class="top-header color-blue">
    <div class="container">
      <div class="d-flex text-uppercase d-flex justify-content-between">
        <div class="d-none d-lg-block">
          <div class="hottline d-lg-flex align-items-center h-100">
            <p class="mb-0">Hottline: </p>
            <ul class="ml-2">
              <li class="font-weight-bold">
                <a href=""> 0902.298.300</a> -
                <a href=""> 0906.298.300</a>
              </li>
              <li class="font-weight-bold">
                <a href=""> 0912.298.300</a> -
                <a href=""> 0914.298.300</a>
              </li>
            </ul>
          </div> <!-- hottline -->
        </div>

        <nav class="navbar navbar-expand-lg navbar-light p-0 px-xl-5 flex-lg-fill">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav d-lg-flex justify-content-between w-100">
              <li class="nav-item">
                <a class="nav-link" href="#">Sinh viên</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Giảng Viên</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Đào tạo quốc tế</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- search --> 
          <div class="search ml-lg-3 ml-lg-0 flex-fill">
            <form class="form-inline position-relative mb-0 ">
              <input type="text" class="form-control border-0 w-100" placeholder="Tìm kiếm thông tin">
              <button class="btn btn-link">
                <i class="fa fa-search " aria-hidden="true"></i>
              </button>
          
            </form>
          </div>
          <!--img english -->
          <div class="language mx-3 d-flex align-items-center ">
            <a href="#">
              <img src="assets/imgage/language.jpg" alt="English">
            </a>
          </div>
      </div>
    </div> <!-- container -->
  </div> <!-- top-header -->

  <div class="menu-main ">
   
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.php">
        <img src="assets/imgage/logo_ntt.png" alt="">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-3 mt-2 mt-lg-0 w-100 d-xl-flex justify-content-xl-around">
          <li class="nav-item ">
            <a class=" nav-link pl-0 " href="gioithieu.php">
              <i class="fa fa-info-circle"></i>
              Giới thiệu </a>

          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="tuyensinh.php">
              <i class="fa fa-graduation-cap"></i>Tuyển sinh</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="daotao.php">
              <i class="fa fa-book"></i>Đào tạo</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="nghiencuu.php">
              <i class="fa fa-bookmark"></i>Nghiên cứu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hoptac.php" tabindex="-1" aria-disabled="true">
              <i class="fa fa-handshake-o"></i>Hợp tác doanh nghiệp</a>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- button-menu -->
    <button class="btn position-absolute" id="btn-menu">
        <i class="fa fa-bars"></i>
      </button>
  </div>  <!--main-menu -->

  <div class="menu">
    <div class="container ">
    <div class="row">
      <div class="col-lg-4 sub-menu">
       
       <p><a href="gioithieu.php">Giới thiệu chung</a></p>
       <ul >
         <li><a href=""><i class="fa fa-angle-double-right"></i> Giới thiệu chung</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Toàn cảnh ĐH Nguyễn Tất Thành</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Hệ thống Cơ sở vật chất</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Thông tin 3 công khai</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Đảm bảo chất lượng</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Phát triển bền vững</a></li>
       </ul>

       <p><a href="gioithieu.php">Hợp tác doanh nghiệp</a></p>
       <ul>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Giới thiệu việc làm</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Giới thiệu thực tập</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Câu lạc bộ Doanh nghiệp</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Ban liên lạc Cựu sinh viên</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Liên kết - Hợp tác</a></li>
       </ul>
     
     </div> <!--col-lg-4-->
     <div class="col-lg-4 sub-menu">
       <p><a href="gioithieu.php">Tuyển sinh</a></p>
       <ul >
         <li><a href=""><i class="fa fa-angle-double-right"></i> Các bậc đào tạo</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Thông tin tuyển sinh</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Chính sách học bổng</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Hướng nghiệp</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i> Xét tuyển trực tuyến</a></li>
         
       </ul>
    
       
       <p><a href="gioithieu.php">Nghiên cứu</a></p>
       <ul class="">
         <li><a href=""><i class="fa fa-angle-double-right"></i>Hoạt động khoa học công nghệ</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Viện - Trung tâm nghiên cứu</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Công bố khoa học</a></li>
       </ul>
     
     </div> <!--col-lg-4-->
     <div class="col-lg-4 sub-menu">
        
       <p><a href="gioithieu.php">Đào tạo</a></p>
       <ul >
         <li><a href=""><i class="fa fa-angle-double-right"></i>Khối Khoa học sức khỏe</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Khối Kinh tế - Quản trị</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Khối Kỹ thuật - Công nghệ</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Khối Khoa học xã hội - Nhân văn</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Khối Mỹ thuật - Nghệ thuật</a></li>
         <li><a href=""><i class="fa fa-angle-double-right"></i>Khối đào tạo quốc tế</a></li>
       </ul>
     
     </div> <!--col-lg-4-->
    </div> <!--row-->
   </div> <!--container-->
  </div> <!--Menu-->

</div>